.chat-window__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__avatar {
  width: 40px;
  height: 40px;
  margin: 0 12px;
}

.name-status-wrapper {
  flex-direction: column;
  display: flex;
  color: black;
  size: 12px;
  width: 190px;
}

.header__status--icon {
  position: relative;
  top: -16px;
  left: 24px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: solid 2px white;
  background-color: grey;
}

.header__status--icon.online {
  background-color: limegreen !important;
}

.header__status--text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.header__name {
  font-size: 20px;
  font-weight: 700;
}
