:root {
    --main-white-color: white;
    --main-black-color: #373737;
    --main-red-color: #fb6d6c;
}

.nav__logo-icon {
    font-size: 3rem;
}

.nav__logo-icon:hover {
    color: var(--main-red-color);
}

.nav__noti-icon {
    font-size: 2rem;
    transform: translateY(3px);
}

.nav__noti-icon:hover {
    color: var(--main-red-color);
}