@keyframes ldio-v67co5map1 {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.ldio-v67co5map1 div {
    left: 47.47px;
    top: 24.240000000000002px;
    position: absolute;
    animation: ldio-v67co5map1 linear 1s infinite;
    background: #fe718d;
    width: 6.0600000000000005px;
    height: 12.120000000000001px;
    border-radius: 3.0300000000000002px / 6.0600000000000005px;
    transform-origin: 3.0300000000000002px 26.26px;
}

.ldio-v67co5map1 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #fe718d;
}

.ldio-v67co5map1 div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #fe718d;
}

.loadingio-spinner-spinner-haoxqpteus {
    width: 101px;
    height: 101px;
    display: inline-block;
    overflow: hidden;
}

.ldio-v67co5map1 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-v67co5map1 div {
    box-sizing: content-box;
}