.chat-bar__content__element {
  display: flex;
  align-items: center;
  margin: 20px 10px;
}

.content__element__avatar {
  width: 40px;
  height: 40px;
}

.content__element__message {
  display: flex;
  align-items: center;
  color: black;
  size: 12px;
}

.not-seen {
  font-weight: 900;
}
