.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.container-layout {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: black;
}


/* post */

.container-content-box {
    position: relative;
    width: 500px;
    max-height: fit-content;
    border-radius: 8px;
    background-color: #fff;
    z-index: 11;
}


/* post header */

.content-box-header {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.content-box-header-title {
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}

.content-box-header-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.content-box-header-btn:hover {
    background-color: #e5e5e5;
}


/* post body */

.content-box-body {}

.content-box-body-top {
    display: flex;
    align-items: center;
    margin: 0 16px;
    padding: 16px 0;
}

.content-box-body-top .user {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
}

.content-box-body-top .user .user-name-belong {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
}

.content-box-body-top .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.content-box-body-input {
    width: 100%;
    min-height: 80px;
    max-height: 140px;
    overflow-y: auto;
    padding: 0 16px 40px;
    outline: unset;
    font-size: 16px;
    font-weight: 400;
}

.content-box-body-input[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
    opacity: 0.5;
}

.content-box-body-input[placeholder]:empty:focus::before {
    content: "";
}

.content-box-body-input::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.content-box-body-input {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* .content-box-body-bottom {}

.body-bottom-right {}

.body-bottom-left {} */


/* footer */

.content-box-footer {
    padding: 16px 0;
}

.content-box-footer-function {
    height: 58px;
    margin: 0 16px;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.footer-function-title {
    font-size: 15px;
    font-weight: 600;
    flex: 1;
}

.footer-function-box {
    display: flex;
    align-items: center;
}

.content-box-footer-btn {
    height: 36px;
    background-color: #fb6b6c;
    border-radius: 6px;
    padding: 0 12px;
    margin: 16px 16px 0;
    color: 15px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-function-right {
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-function-right:hover {
    background-color: #ccc;
    border-radius: 50%;
}

.footer-function-left {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-function-left:hover {
    background-color: #ccc;
    border-radius: 50%;
}


/* Upload box */

.upload-box {
    margin: 0 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 229px;
    position: relative;
    cursor: pointer;
}

.upload-box .more-btn {
    position: absolute;
    top: 12px;
    right: 12px;
}

#uploadInput {
    display: none;
}

.upload-input {
    position: relative;
    margin: 4px;
    height: 100%;
}

.upload-box-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.upload-box-btn {
    background-color: #e5e5e5;
}

.upload-input-box {
    height: calc(100% - 8px);
    background-color: #ccc;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
}

.upload-input-title {
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
}


/* picture box */

.picture-box {
    margin: 4px;
    height: 100%;
}

.picture-list {
    height: calc(100% - 8px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.picture-list .picture-sleeve {
    border-radius: 6px;
}


/* picture list has 1 element */

.picture-list-1 {
    height: calc(100% - 8px);
    display: grid;
}

.picture-list-1 .picture-sleeve {
    border-radius: 6px;
    height: inherit;
}

.picture-list-1 .picture-sleeve {
    border: 1px solid #e5e5e5;
}

.picture-list-1 .picture-sleeve .picture-item {
    height: 219px;
    width: 100%;
    object-fit: contain;
}

.picture-list .picture-sleeve:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid #e5e5e5;
}


/* picture list has 2 elements */

.picture-list-2 {
    height: calc(100% - 8px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.picture-list-2 .picture-sleeve {
    border-radius: 6px;
}

.picture-list-2 .picture-sleeve:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid #e5e5e5;
}

.picture-list-2 .picture-sleeve:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid #e5e5e5;
}

.picture-list-2 .picture-sleeve:first-child .picture-item {
    height: 219px;
    width: 100%;
    object-fit: contain;
}

.picture-list-2 .picture-sleeve:last-child .picture-item {
    height: 219px;
    width: 100%;
    object-fit: contain;
}


/* picture list 3 */

.picture-list-3 {
    height: calc(100% - 8px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.picture-list-3 .picture-sleeve:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid #e5e5e5;
}

.picture-list-3 .picture-sleeve:first-child .picture-item {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.picture-list-3 .picture-sleeve:nth-child(2) .picture-item {
    height: 109.5px;
    width: 100%;
    object-fit: contain;
}

.picture-list-3 .picture-sleeve:last-child .picture-item {
    height: 109.5px;
    width: 100%;
    object-fit: contain;
}

.picture-list-3 .picture-sleeve:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 109.5px;
    width: 100%;
    object-fit: contain;
    border: 1px solid #e5e5e5;
}

.picture-list-3 .picture-sleeve:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 109.5px;
    width: 100%;
    object-fit: contain;
    border: 1px solid #e5e5e5;
}


/* picture list */

.picture-list .picture-sleeve:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid #e5e5e5;
}

.picture-list .picture-sleeve:first-child .picture-item {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.picture-list .picture-sleeve:nth-child(2) .picture-item {
    height: 109.5px;
    width: 100%;
    object-fit: contain;
}

.picture-list .picture-sleeve:last-child .picture-item {
    height: 109.5px;
    width: 100%;
    object-fit: contain;
}

.picture-list .picture-sleeve:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 109.5px;
    width: 100%;
    object-fit: contain;
    border: 1px solid #e5e5e5;
}

.picture-list .picture-sleeve:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 109.5px;
    width: 100%;
    object-fit: contain;
    border: 1px solid #e5e5e5;
    position: relative;
}

.picture-list .picture-sleeve:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 109.5px;
    background-color: #585656a1;
    background-image: url("./more.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    /* z-index: 100000; */
}


/* model */

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity .4s ease, visibility .4s ease, transfrom .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.model.open .cls {
    position: fixed;
    top: 10px;
    right: 10px;
}

.model.open .prev {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.model.open .next {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}