.conversation {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  width: 100%;
}

.conversation__avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 16px;
}

.conversation__content-wrapper {
  flex-direction: column;
  display: flex;
  color: black;
  size: 12px;
  width: 190px;
}

.conversation__message {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.conversation__name {
  font-size: 14px;
  font-weight: 700;
}

.not-seen {
  font-weight: 900;
}
