.title {
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
}

.content {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.instruction {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.content span {
    font-weight: 700;
}

.instruction {
    padding: 0 20px;
}

.instruction span {
    font-weight: 700;
}

.resend-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resend-box .resend-box-title {
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.resend-box .resend-box-button {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100px;
    background-color: #fb6b6c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #fb6b6c;
    box-shadow: 0 0 2px #fb6b6c;
    cursor: pointer;
}

.resend-box .resend-box-button:active {
    background: #fb6b6cc2;
}