:root {
    --content-bg-color: #fff;
    --white-text-color: #fff;
    --white-main-color: #fff;
    --black-text-color: #373737;
    --main-bg-color: #efefef;
    --blur-text-color: #a7a7a7;
}

.top__content {
    background-color: var(--content-bg-color);
    width: 920px;
    height: 70px;
    border-radius: 14px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 20px;
}

.top {
    background-color: var(--main-bg-color);
    height: 110px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 4;

}

.top__count {
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background: linear-gradient(180deg, #FF7854 0%, #FF23A5 100%);
    border-radius: 8px;
    height: 32px;
    color: var(--white-text-color);
}

.top__text {
    font-weight: 700;
    font-size: 1.5rem;
}