:root {
    --green-main-color: #5FCE7B;
    --white-main-color: white;
    --white-secondary-color: #efefef;
    --black-main-color: #373737;
    --blur-text-color: #a7a7a7;
}

.pet-list-content {
    background-color: var(--white-main-color);
    width: 920px;
    border-radius: 14px;
    margin-top: 110px;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    height: calc(100vh - 60px - 130px);
    padding: 20px;
    align-content: flex-start
}


.pet-list-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pet-list-content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}