:root {
    --main-white-color: white;
}
/* 
.menu__heart-icon {
    font-size: 1.5rem;
    position: relative;
    transform: translateX(-3px);
} */

svg {
    font-size: 1.3rem;
}

.menu__heart-icon:hover {
    color: var(--main-white-color);
}

.menu__list-icon:hover {
    color: var(--main-white-color);
}

.menu__message-icon:hover {
    color: var(--main-white-color);
}

.menu__dashboard-icon:hover {
    color: var(--main-white-color);
}

.menu__favor-icon:hover {
    color: var(--main-white-color);
}

.menu__setting-icon:hover {
    color: var(--main-white-color);
}

.menu__logout-icon:hover {
    color: var(--main-white-color);
}