.signin__logo-icon {
    font-size: 6rem;
    transform: translateX(10px);
}

.signin__logo-icon:hover {
    color: white;
    cursor: default;
}

.back-icon {
    margin-right: 10px;
}

.back-icon:hover {
    opacity: 0.8;
}