.signin__logo-icon {
    font-size: 6rem;
    transform: translateX(10px);
}

.signin__logo-icon:hover {
    color: white;
    cursor: default;
}

.back-icon {
    margin-right: 10px;
}

.back-icon:hover {
    opacity: 0.8;
}

.msg-container {
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
}

.msg-list {
    width: 250px;
    max-height: 100px;
    background-color: #fff;
    border: 1px solid #fb6d6c;
    color: #fb6d6c;
    box-shadow: 2px 2px 4px #bbb;
    border-radius: 4px;
    padding: 12px;
    overflow: hidden;
    list-style: circle;
}

.msg-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.invalid {
    border-color: #fb6d6c !important;
}